svg {
    background-color: green;
}

/* background of plot, and border */
.plot { fill: rgba(0, 222, 222, 1.0); stroke-width: 1; stroke: black; shape-rendering: crispEdges; }
/* chromsome names on x axis*/
.x-axis { font-family: 'Ubuntu', sans-serif; font-size: 12px; fill:black; font-weight:bold; }
/* axis end lines  */
.x-axis path { fill: none; stroke: none; shape-rendering: crispEdges; }
/* axis tick marks */
.x-axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
/* x axis title */
.x-axis-title { font-family: 'Ubuntu', sans-serif; font-size: 16px; fill:black; font-weight:bold; }
/* chromosome pseudo tick lines (shows chromosome boundaries)*/
.x-grid .tick { stroke: rgb(150,150,150); stroke-width: 1; shape-rendering: crispEdges; }
/* chromsome names on y axis*/
.y-axis { font-family: 'Ubuntu', sans-serif; font-size: 10px; fill:black; font-weight:bold; }
/* axis end lines  */
.y-axis path { fill: none; stroke: none; shape-rendering: crispEdges; }
/* axis tick marks */
.y-axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
/* x axis title */
.y-axis-title { font-family: 'Ubuntu', sans-serif; font-size: 22px; fill:black; font-weight:bold; }
/* chromosome pseudo tick lines (shows chromosome boundaries)*/
.y-grid .tick { stroke: rgb(150,150,150); stroke-width: 1; shape-rendering: crispEdges; }
/* circles */
.dot { pointer-events:all; shape-rendering: crispEdges; }
.highlight { fill: yellow; }
