svg {
    background-color: white;
}

.plot {
    fill: rgba(222, 222, 222, 1.0);
    stroke-width: 1;
    stroke: black;
    shape-rendering: crispEdges;
}

.x-axis {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    fill: black;
    font-weight: bold;
}

.x-axis-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    fill: black;
    font-weight: bold;
}

.x-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.y-axis {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    fill: black;
    font-weight: bold;
}

.y-axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.y-axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.y-axis-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    fill: black;
    font-weight: bold;
}

.checkerboard1 {
    fill: rgb(200, 200, 200);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.checkerboard2 {
    fill: rgb(230, 230, 230);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.plotlod-circle {
    pointer-events: all;
}
